.two-columns__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
}
@media  screen and (min-width:288px) and (max-width:1232px){
    .two-columns__title{
    font-size: 30px;
    line-height: 40px;
    }
}