.cards-list__container{
    max-width: 1232px;
    margin: 64px auto 0;
    display: flex;
    flex-wrap: wrap;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .cards-list__container{
        display: flex;
        margin: 32px auto 0;
    }
}