.git-history__button{
    display: none;
}
@media screen and (min-width:288px) and (max-width:687px){
    .git-history__button{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 288px;
        height: 56px;
        margin: 24px auto 32px;
        background-color: #ffffff;
        border: 1px solid #1A1B22;
        box-sizing: border-box;
        border-radius: 80px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #1A1B22;
    }
}