@import url(./__name/tech-card__name.css);
@import url(./__img/tech-card__img.css);
.tech-card{
    width: 120px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tech-card:last-child{
    margin-right: 0;
}