.tech-card__name{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #1A1B22;
margin: 0 auto 23px;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .tech-card__name{
        margin: 0 auto 8px;
    }  
}