.statistics__bar{
width: 816px;
background:  #2F71E5;
font-family: Roboto;
height: 24px;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 58px;
display: flex;
align-items: center;
width: 1128px;
}
.statistics__bar:first-child{
    margin-top: 31px;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .statistics__bar{
        width: 568px;
    }
}