.statistics__bar{
width: 816px;
background: linear-gradient(to right, #2F71E5 15%, #F5F6F7 15%);
font-family: Roboto;
height: 24px;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 58px;
display: flex;
align-items: center;
}
.statistics__bar:first-child{
    margin-top: 31px;
}