@import url(./__title/search-request__title.css);
@import url(./__subtitle/search-request__subtitle.css);
@import url(./__form/search-request__form.css);
@import url(./__input/search-request__input.css);
@import url(./__button/search-request__button.css);
@import url(./__container/search-request__container.css);
@import url(./__error/search-request__error.css);
.search-request{
    position: relative;
    z-index: 5;
    display: flexbox;
    align-items: center;
}