@import url(./__img/card__img.css);
@import url(./__data/card__data.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
.card{
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 16px 16px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:nth-child(3n){
    margin-right: 0;
}
.card:hover{
    box-shadow: 6px 6px 58px 2px rgba(8, 29, 45, 0.1);
    cursor: pointer;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .card{
        max-width: 224px;
        margin: 0 8px 8px 0;
    }
    .card:nth-child(3n){
        margin-right: 0;
    }
}