.search-request__input{
background: #FFFFFF;
border: 1px solid #D1D2D6;
box-sizing: border-box;
backdrop-filter: blur(8px);
border-radius: 100px;
width: 608px;
height: 64px;
padding: 0 200px 0 30px;
}


.search-request__input:focus::-webkit-input-placeholder{
   
    opacity: 0; transition: opacity 0.3s ease;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .search-request__input{
    width: 452px;
    height: 56px;
}
}
@media  screen and (min-width:288px) and (max-width:687px){
    .search-request__input{
    max-width: 288px; 
    }
}