.card__data{
margin: 20px 0 0 24px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #B6BCBF;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .card__data{
        margin: 16px 0 0 16px;
    } 
}