.git-history__swiper{
width: 100%;
display: flex;
margin: 0 0 136px;
}
.flickity-slider{
    display: flex;
    width: 1440px;
position: relative;
}
.flickity-button{
    background-color: #1A1B22;
}
.flickity-button:hover{
    background-color: #347EFF;
}
.flickity-button-icon{
    fill: #ffffff;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .git-history__swiper{
        margin-bottom: 40px;
        height: 242px;
        }
    .flickity-slider{
        width: 768px;
    }
    .flickity-button{
        display: none;
    }


}