.statistics__scale{
    max-width: 1128px;
    margin: 16px 0 0 100px;
    display: flex;
    justify-content: space-between;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .statistics__scale{
    margin: 4px 0 0 140px;
    max-width: 568px;
    }
}