.card__text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
margin: 16px 24px 0;
color: #1A1B22;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .card__text{
        margin: 10px 16px 0;
        height: 88px;
        overflow: hidden;   
    }
   
}