.statistics__day{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
margin: 31px 0;
color: #1A1B22;
}
.statistics__day:last-child{
margin-bottom: 0;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .statistics__day{
        margin: 31px 0;
        width: 87px;
    }
}
@media  screen and (min-width:288px) and (max-width:687px){
    .statistics__day{
    font-size: 18px;
    margin: 12px 0;
    width: 56px;
    }
}