@import url(./__navigation/header__navigation.css);
@import url(./__main-with-decor/header__main-with-decor.css);
@import url(./__project-with-decor/header__project-with-decor.css);
@import url(./__main/header__main.css);
@import url(./__decor-elem/header__decor-elem.css);
@import url(./__about-project/header__about-project.css);
@import url(./_style-white/header_style-white.css);
@import url(./_style-black/header_style-black.css);
@import url(./_style-inactive/header_style-inactive.css);
.header{
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

@media  screen and (min-width:688px) and (max-width:1232px){
    .header{
        max-width: 768px;
    }
}