.footer__social{
    margin-right: 106px;
}
@media  screen and (min-width:688px) and (max-width:1232px){
    .footer__social{
        margin-right: 20px;
    } 
}
@media  screen and (min-width:288px) and (max-width:687px){
    .footer__social{
        margin: 0;
        width: 72px;
    }
}
