.card__source{
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.4px;
text-transform: uppercase;
margin: 18px 24px 24px;
color: #B6BCBF;
}